#column1{
    padding: 0.5rem 0rem 0rem 0.6rem ;
    grid-area: a;
    border: 1px solid #ebebeb;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}  

#column1 > li {
    padding: 0.45rem;
}

#column1 > li > p {
    display: inline-block;
    position: relative;
    left:1em;
}

#filesHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}

#seperator {
    width: 85%;
    height: 6px;
    border-bottom: 3px solid #28a745;
    margin: .25rem 0 0.5rem 0;
    align-self: center;
}

.filesList{
    width: 100%;
    padding: 0 1.7rem;
}

.fileItem{
    padding: .4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    cursor: pointer;
}

.fileItem:hover {
    color: rgb(66, 66, 66);
}

.fileItemActive {
    color: rgb(66, 66, 66);
}

.fa-minus-circle:hover{
    color: rgba(255, 0, 0, 0.685);
}

#addFile {
    color: grey !important;
    margin-bottom: .2rem;
}

#addFile:hover {
    color:#28a745 !important;
    cursor: pointer;
}