.inputWrapper{
    top:23.5%;
    right: 207px;
    position: absolute;
    width: 30%;
    height: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.808);
}

.inputWrapper > :nth-child(odd) {
    background-color: #f7fff9;
}

.itemMiniInput{
    font-size: .8rem;
    width: 95%;
    padding: 3px;
    border: 1px solid #d3d8dc;
}

#itemPriorityInput{
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    border: none;
}

#itemPriorityInput::-webkit-slider-runnable-track{
    background: #d3d8dc;
    height: .1rem;
    border-radius: 5px;
    margin-top: .3rem;
}

#itemPriorityInput::-webkit-slider-thumb{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -6px; /* Centers thumb on the track */
    background-color: #5cd5eb;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.rangeGuage{
    display: flex;
    width: 95%;
    justify-content: space-between;
    font-size: .6rem;
    margin-top: .5rem;
}

.itemInfoRow-Buttons{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.forumButton{
    border: none;
    padding: .4rem;
    border-radius: 3px;
}

#cancelForm{
    background-color: #80002093;
    color: white;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
}

#cancelForm:hover{
    cursor: pointer;
    box-shadow: #830b0b 0 0 0 2px, transparent 0 0 0 0;
}

#confirmForm{
    background-color: #4591579a;
    color: white;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
}

#confirmForm:hover{
    cursor: pointer;
    box-shadow: #28a745 0 0 0 2px, transparent 0 0 0 0;
}